.app__main {
    position: relative;
    width: 100%;
    padding-top: 45px;
    overflow: hidden;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid::before, .container-fluid::after {
    content: " ";
    display: table;
}

.row::before, .row::after {
    content: " ";
    display: table;
}

.app__sidebar {
    min-height: calc(100vh - 45px);
    z-index: 0;
    position: absolute;
    height: calc(100vh - 45px);
    overflow: auto;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    background-color: #F6F7F9;
}

.app__sidebar__search-toggle-btn {
    z-index: 2;
    position: absolute;
    top: 1rem;
    right: 0;
    background: transparent;
    color: #9A9CA8;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.jstree-node, .jstree-children, .jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.jstree-container-ul > .jstree-node {
    margin-left: 0;
}

.jstree-anchor {
    display: inline-block;
    padding: 0 .4em 0 0;
    margin: 0;
    height: 2.3rem;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #333333;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    -webkit-transition: background-color 0.15s ease;
    -o-transition: background-color 0.15s ease;
    transition: background-color 0.15s ease;
}
.jstree-anchor.active, .jstree-anchor.active:hover {
    color: #2997ce;
}
.jstree-anchor:hover, .jstree-anchor:focus {
    text-decoration: none;
    color: #333333;
    outline: 0;
}
.jstree-hovered {
    background: #f0f2f5;
}

.jstree .jstree-open > .jstree-children {
    display: block;
}

.jstree-node {
    background-position: -292px -3px;
    background-repeat: repeat-y;
}

.jstree-icon, .jstree-icon:empty {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 2.3rem;
    height: 2.3rem;
    font-size: 1.3rem;
    color: #555555;
    line-height: 2.3rem;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
.jstree-node, .jstree-icon {
    background-image: url("/bundles/hgabkamedia/default-theme/img/jstree/kuma.svg");
}

.jstree-open > .jstree-ocl {
    background-position: -132px -3px;
}
.jstree-closed > .jstree-ocl {
    background-position: -100px -3px;
}
.jstree-leaf > .jstree-ocl {
    background-position: -68px -3px;
}
.jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}

.jstree-search {
    color: #2997ce;
    font-weight: bold;
}

.toggle-item {
    height: 0;
    overflow: hidden;
}

.app__sidebar__search-toggle-item {
    padding-top: 2em;
}
.app__sidebar-toggle:focus {
    outline: none;
}
.btn--reset {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    -webkit-appearance: none;
}
.app__sidebar-toggle {
    position: absolute;
    top: 1em;
    left: 1em;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.app__main--altered-state .app__sidebar-toggle__show-icon {
    display: inline-block;
}

.app__main--altered-state .app__sidebar-toggle__hide-icon {
    display: none;
}
.app__sidebar-toggle__show-icon {
    display: none;
}
.app__sidebar-toggle__hide-icon {
    display: inline-block;
}

.app__main--altered-state.app__main--has-sidebar .app__content {
    width: 100%;
    margin-left: 0;
}
.app__main--altered-state.app__main--has-sidebar .app__content {
    border-left-color: #dddddd;
}
.col--padded {
    padding-top: 1em;
    padding-bottom: 1em;
}
.app__content {
    border-left-color: #dddddd;
}
.app__content {
    position: relative;
    background: white;
    border: 1px solid #dddddd;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
    min-height: calc(100vh - 95px);
}
.app__sidebar-toggle:hover {
    color: #2997ce;
}

.app__content__header__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    color: #333;
    font-size: 2em;
}
.sonata-bc .app__content__breadcrumb {
    padding: 0 0 0 3em;
    margin-bottom: 35px;
    list-style: none;
    background-color: white;
    border-radius: 3px;
    float:none;
}

.btn, .fos_user_change_password input[type="submit"] {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #333333;
    background-color: white;
    border-color: #dddddd;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #bebebe;
}
.btn-group .btn + .btn, .btn-group .fos_user_change_password input[type="submit"] + .btn, .fos_user_change_password .btn-group input[type="submit"] + .btn, .btn-group .fos_user_change_password .btn + input[type="submit"], .fos_user_change_password .btn-group .btn + input[type="submit"], .btn-group .fos_user_change_password input[type="submit"] + input[type="submit"], .fos_user_change_password .btn-group input[type="submit"] + input[type="submit"], .btn-group .btn + .btn-group, .btn-group .fos_user_change_password input[type="submit"] + .btn-group, .fos_user_change_password .btn-group input[type="submit"] + .btn-group, .btn-group .btn-group + .btn, .btn-group .fos_user_change_password .btn-group + input[type="submit"], .fos_user_change_password .btn-group .btn-group + input[type="submit"], .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}


.page-sub-actions {
    margin: -2rem 0 2.2rem;
    text-align: right;
}
.page-sub-actions--has-buttons {
    margin: -3.8rem 0 3.8rem;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .fos_user_change_password .btn-group > input[type="submit"]:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:first-child, .fos_user_change_password .btn-group > input[type="submit"]:first-child {
    margin-left: 0;
}

.btn__icon {
    color: #999999;
}
.btn-group > .btn:hover, .fos_user_change_password .btn-group > input[type="submit"]:hover, .btn-group > .btn:focus, .fos_user_change_password .btn-group > input[type="submit"]:focus, .btn-group > .btn:active, .fos_user_change_password .btn-group > input[type="submit"]:active, .btn-group > .btn.active, .fos_user_change_password .btn-group > input.active[type="submit"], .btn-group-vertical > .btn:hover, .fos_user_change_password .btn-group-vertical > input[type="submit"]:hover, .btn-group-vertical > .btn:focus, .fos_user_change_password .btn-group-vertical > input[type="submit"]:focus, .btn-group-vertical > .btn:active, .fos_user_change_password .btn-group-vertical > input[type="submit"]:active, .btn-group-vertical > .btn.active, .fos_user_change_password .btn-group-vertical > input.active[type="submit"] {
    z-index: 2;
}
.btn-group > .btn, .fos_user_change_password .btn-group > input[type="submit"], .btn-group-vertical > .btn, .fos_user_change_password .btn-group-vertical > input[type="submit"] {
    position: relative;
    float: left;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #bebebe;
}
.btn:active, .fos_user_change_password input[type="submit"]:active, .btn.active, .fos_user_change_password input.active[type="submit"] {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn--raise-on-hover {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn, .fos_user_change_password input[type="submit"] {
    padding: 0.6rem 2rem;
}
.btn, .fos_user_change_password input[type="submit"] {
    padding: 0.6rem 1.74rem;
}
.page-main-actions {
    margin: 1rem 0;
    text-align: right;
}
.page-main-actions {
    float: right;
    margin: -1rem 0 1rem;
}
.btn-group > .btn-group {
    float: left;
}
.page-main-actions--top {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    margin: 0;
    padding: .4em 1em;
    background: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.page-main-actions .btn, .page-main-actions .fos_user_change_password input[type="submit"], .fos_user_change_password .page-main-actions input[type="submit"] {
    padding: .6rem 1rem;
}
.page-main-actions .btn, .page-main-actions .fos_user_change_password input[type="submit"], .fos_user_change_password .page-main-actions input[type="submit"] {
    padding: .6rem 2rem;
}
.large-screen {
    display: inline;
}
.small-screen {
    display: none;
}

.page-main-actions--top--show {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px);
}

.page-main-actions--top {
    z-index: 100;
    position: fixed;
    top: 6px;
    left: 0;
    right: 0;
    height: 45px;
    margin: 0;
    padding: .4em 1em;
    background: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}