
.dnd-container {
    position: relative;
    min-height: 400px;
}
.dnd-area {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
}

.dnd-area__drop-alert {
    display: none;
    pointer-events: none;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.dnd-area__drop-alert__figure {
    z-index: 4;
    position: absolute;
    top: calc(50% - 15rem);
    left: calc(50% - 15rem);
    width: 30rem;
    height: 30rem;
    padding: 5em 2em 2em;
    border-radius: 100%;
    background: #2997ce;
}
.dnd-area__drop-alert__figure__img {
    display: block;
    max-width: 100%;
    margin: 0 auto 3rem;
}
.dnd-area__drop-alert__figure__caption {
    text-align: center;
    color: white;
}

.dnd-area--dragover {
    z-index: 30;
    display: block;
}
.dnd-area--dragover .dnd-area__drop-alert {
    display: block;
}
.dnd-area--dragover .dnd-area__drop-alert__figure {
    -webkit-animation-name: animDndPopOver;
    animation-name: animDndPopOver;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 19px;
    line-height: 1.4;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 3px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.media-thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 20rem;
}

.media-thumbnail__icon {
    display: block;
    margin: 2rem 0;
    color: #999999;
    font-size: 6rem;
    text-align: center;
}
.media-thumbnail__caption {
    position: relative;
    display: block;
    width: 100%;
    margin: 1rem 0 0;
    overflow: hidden;
    font-size: 1.2rem;
    color: #999999;
    text-align: center;
}
.media-thumbnail__helper {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 1.2rem;
    color: #2997ce;
}
.media-thumbnail__helper {
    opacity: 0;
    transition: opacity .3s ease;
}

.media-thumbnail-del-btn, .media-thumbnail-del-btn:hover {
    background: #d9534f;
    color: white;
}

.btn.media-thumbnail-del-btn, .btn.media-thumbnail-del-btn:hover {
    background: #d9534f;
    color: white;
}
.media-thumbnail:hover + .btn.media-thumbnail-del-btn {
    opacity: 1;
}
.media-thumbnail-del-btn:hover {
    opacity: 1;
}
.media-thumbnail:hover .media-thumbnail__helper {
    opacity: 1;
}
.media-thumbnail-del-btn:hover + .media-thumbnail-del-helper {
    opacity: 1;
}
input[type="checkbox"].media-thumbnail-bulk-move-btn + label {
    background-color: #eee;
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05);
    padding: 13px !important;
    border-radius: 0 3px 0 3px !important;
    display: inline-block !important;
    position: relative;
}

input[type="checkbox"].media-thumbnail-bulk-move-btn:checked + label {
    background-color: #2997ce;
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px hsla(0,0%,100%,.1);
    color: #eee;
}
input[type="checkbox"].media-thumbnail-bulk-move-btn:checked + label::after {
    content: "\2714";
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 7px;
    color: #eee;
    line-height: 25px;
}


input[type="checkbox"].media-thumbnail-bulk-move-btn + label::after {
    content: "\2714";
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 7px;
    color: #555;
    line-height: 25px;
}
input[type="checkbox"].media-thumbnail-bulk-move-btn + label::after {
    content: "\2714";
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 7px;
    color: #555;
    line-height: 25px;
}

.media-thumbnail.bulk_selected {
    border: 3px solid #2997ce;
}
.media-thumbnail-action {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 1.5rem;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}
.media-thumbnail-action__move {
    right: 4.5rem;
}
.media-thumbnail-action {
    opacity: 0;
    transition: opacity .3s ease;
}
.media-thumbnail-action:hover {
    opacity: 1;
}
.media-thumbnail:hover .media-thumbnail__helper, .media-thumbnail:hover ~ .media-thumbnail-action, .media-thumbnail:hover ~ .btn.media-thumbnail-del-btn {
    opacity: 1;
}

.btn.media-thumbnail-del-btn {
    padding: .2em .5em !important;
    border-radius: 0 3px 0 3px !important;
}

.media-thumbnail-bulk-move-helper {
    color: #2997ce;
}

.btn.media-thumbnail-move-btn {
    opacity: 0;
    transition: opacity .3s ease;
}

.media-thumbnail:hover + .media-thumbnail-move-btn {
    opacity: 1;
}
.media-thumbnail-move-btn:hover {
    opacity: 1;
}

input[type="checkbox"].media-thumbnail-bulk-move-btn {
    display: none;
}
.media-thumbnail-del-helper {
    z-index: 2;
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
    display: none;
    font-size: 1.2rem;
    color: #d9534f;
}
.media-thumbnail-bulk-move-helper, .media-thumbnail-del-helper {
    display: block;
    opacity: 0;
    transition: opacity .3s ease;
}
.media-thumbnail__helper {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 1.2rem;
    color: #2997ce;
}
.media-thumbnail__helper {
    opacity: 0;
    transition: opacity .3s ease;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #2997ce;
}
.media-thumbnail:hover {
    text-decoration: none;
}
.media-thumbnail__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.media-thumbnail-bulk-move-helper, .media-thumbnail-del-helper {
    z-index: 2;
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
    display: none;
    font-size: 1.2rem;
    color: #d9534f;
}

.media-thumbnail-action__delete:hover + .media-thumbnail-bulk-move-helper, .media-thumbnail-action__delete:hover + .media-thumbnail-del-helper, .media-thumbnail-action__move:hover + .media-thumbnail-bulk-move-helper {
    opacity: 1;
}

.media-thumbnail-bulk-move-helper, .media-thumbnail-del-helper {
    display: block;
    opacity: 0;
    transition: opacity .3s ease;
}

.media-thumbnail.bulk_selected {
    border: 3px solid #2997ce;
}
.media-thumbnail-bulk-move-helper {
    color: #2997ce;
}
